<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-compatible" content="IE=edge" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %> | CSE 340 App</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <% if (String(title).toLowerCase().includes('vehicle')) { %>
  <link rel="stylesheet" href="/css/inventory.css" />
  <% } %> <% if (!String(title).toLowerCase().includes('vehicle') &&
  !String(title).toLowerCase().includes('Home')) { %>
  <link rel="stylesheet" href="/css/detail.css" />
  <% } %> <% if (String(title).toLowerCase().includes('login')) { %>
  <link rel="stylesheet" href="/css/login.css" />
  <% } %> <% if (String(title).toLowerCase().includes('register')) { %>
  <link rel="stylesheet" href="/css/register.css" />
  <% } %> <% if (String(title).toLowerCase().includes('add new vehicle')) { %>
  <link rel="stylesheet" href="/css/addInventory.css" />
  <% } %> <% if (String(title).toLowerCase().includes('add new classification'))
  { %>
  <link rel="stylesheet" href="/css/addClassification.css" />
  <% } %> <% if (String(title).toLowerCase().includes('inventory management')) {
  %>
  <link rel="stylesheet" href="/css/management.css" />
  <% } %> <% if (String(title).toLowerCase().includes('delete')) { %>
  <link rel="stylesheet" href="/css/delete-confirm.css" />

  <% } %> <% if (String(title).toLowerCase().includes('account management')) {
  %>
  <link rel="stylesheet" href="/css/account.css" />
  <% } %> <% if (String(title).toLowerCase().includes('edit inventory')) { %>
  <link rel="stylesheet" href="/css/edit-inventory.css" />
  <% } %> <% if (String(title).toLowerCase().includes('update account')) { %>
  <link rel="stylesheet" href="/css/update-account.css" />
  <% } %> <% if (String(title).toLowerCase().includes('my comments')) { %>
  <link rel="stylesheet" href="/css/comments.css" />
  <% } %> <% if (String(title).toLowerCase().includes('edit comment')) { %>
  <link rel="stylesheet" href="/css/edit-comment.css" />
  <% } %>

  <script defer src="/js/script.js"></script>
</head>
