.login-container {
  background-color: #34495e;
  padding: 4rem;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin: 0.5rem 0 0.2rem;
  text-align: left;
  font-size: 1.6rem;
}

input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.login-btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #222131;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.signup-link {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.signup-link a {
  color: #01b0d3;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.flash-message {
  background-color: #e74c3c;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
