.register-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 360px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 1rem;
  color: #333;
}

label {
  display: block;
  margin: 0.5rem 0 0.2rem;
  font-weight: bold;
  font-size: 1.6rem;
}

input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-size: 1.3rem;
}

.password-wrapper {
  position: relative;
}

.toggle-btn {
  position: absolute;
  right: 10px;
  top: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
}

.password-hint {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 1rem;
  display: block;
   font-size: 1.2rem;
}

.register-btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #0056b3;
}

.flash-message {
  background-color: #e74c3c;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: center;
}
