/******* Change Box Model ***************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******* Base Styles ***************/
html {
  font-size: 62.5%; /* 1rem = 10px (NOT 62,5%) */
}

#wrapper {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #222131;
  background-color: #fff;
  max-width: 100rem;
  margin: 0 auto;
}

/******* Links ***************/
a {
  text-decoration: none;
  color: #222131;
}

/******* Lists ***************/
li {
  list-style: none;
}

/******* Header ***************/
header {
  max-width: 100rem;
  margin: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteName a {
  font-size: 3rem;
  font-weight: 700;
  color: #222131;
}

.account a {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #555;
}
#tools {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/******* Navigation ***************/
nav {
  background-color: #222131;
  margin: 1rem;
  border-radius: 0.4rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

nav a {
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
}
/******* Main Content ***************/
main {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0 1rem;
}

.hero {
  margin: 2rem 0;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 5%;
  left: 2%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
}

.hero-text h2 {
  color: #01b0d3;
  font-size: 1.9rem;
}

.hero-text ul {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #01b0d3;
}

.hero img {
  width: 100%;
  height: 100%;
}

.cta-btn {
  display: inline-block;
  background-color: #01b0d3;
  color: #000;
  font-size: 1.5rem;
  padding: 0.7rem 1.4rem;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

/******* Reviews ***************/
.reviews {
  margin-top: 3rem;
}

.reviews h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.reviews ul {
  padding-left: 1.5rem;
}

.reviews li {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  list-style-type: disc;
}

/******* Upgrades ***************/
.upgrades {
  margin-top: 3rem;
}

.upgrades h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.upgrades-grid div {
  text-align: center;
}

.upgrades-grid img {
  width: 100%;
  max-width: 150px;
  height: 150px;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  background-color: #01b0d3d0;
  padding: 1.5rem;
  border-radius: 0.4rem;
  object-fit: cover;
}

.upgrades-grid a {
  display: block;
  font-weight: 600;
  font-size: 1.5rem;
  color: #222131;
}

/******* Footer ***************/
footer {
  padding: 1.5rem;
  font-size: 1.2rem;
  color: #000000;
  margin-top: 3rem;
  font-size: 1.4rem;
}

#errorTitle {
  text-align: center;
  margin-top: 2rem;
}

#errorMessage {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.notice li {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(41, 41, 41);
  text-align: center;
  color: red;
}

/******* Media Query (Large Screens) ***************/
@media screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("/images/site/small_check.jpg");
    background-size: cover;
    background-position: center;
  }

  #wrapper {
    margin: 1rem auto;
    border: 4px solid #01b0d3;
    border-radius: 1rem;
    padding: 1rem;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  nav a {
    font-size: 1.6rem;
  }

  .hero {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  h1 {
    font-size: 3rem;
  }
  .hero-text {
    padding: 2.5rem;
    top: 25%;
    left: 10%;
  }

  .hero-text h2 {
    font-size: 3rem;
  }

  .hero-text ul {
    font-size: 1.7rem;
  }
  .hero img {
    width: 70rem;
    margin: 0 auto;
  }

  .reviews li {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }

  .upgrades {
    grid-row-start: 3;
  }
  footer {
    font-size: 1.5rem;
  }
}
